/* fuentes */
h1{
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    color: #B00000;
}
h2 {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: center;
    color: #2F327D;
}
h3 {
    font-family: Montserrat;
    font-size: 44px;
    font-weight: 600;
    line-height: 79px;
    letter-spacing: 0em;
    text-align: center;
    color: #F0C53E;
    ;
}
h5 {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #595959;
    ;
}
h6 {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0.04em;
    text-align: left;

}
.parrafo1 {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: white
}
p {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: center;
}
.fecha1 {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.02em;
    text-align: left;
    color: white;
}
.empujamos {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}
.redes {
    color:#F0C53E;
}

/* imagenes */

.header-style {
font-size: 70px;
}

.img-style {
    height: 400px;
    margin-top: 20px;
}

.img-nosotros {
    height: 300px;
    width: 300px;
    align-items: center;
    border-radius: 15px;
}

.img-gira {
    height: 50px;
    width: 50px;
    margin-top: 100px;
}

.img-sponsors {
    height: 300px;
    width: 500px;
}

/* barra nav */
nav {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #000B45;
    width: 100%;
}
nav ul {
    display: flex;
    margin-left: 260px;
    margin-top: 85px;
    padding-right: 80px;
    font-family: Montserrat;
    font-size: 20px;
}
nav ul li:hover {
    background: #7F2736;
}
li {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    display: flex;
    margin: 20px;
    text-align: center;
}
span li{
    margin-left: 20px;
    margin-top: 20px;
    font-family: Montserrat;
    font-weight: 400;
    color: white;
    text-decoration: none;
    text-align: center;
}
.fondo-style{
    display: flex;
    width: 100%;
}
.posicion-fondo {
    top: -120px;
}
.element-style {
    display: flex;
    justify-content: center;
}
.element-title-style {
    display: flex;
    flex-direction: column;
}
.title-style {
    padding-top: 50px;
    padding-left: 50px;
}
.p-style {
    padding-left: 20px;
}
.img-logo-style{
    justify-content: center;
    padding-left: 300px;
}
/*
header{
    background-image: url(fondoheader.jpg);
}
*/

/*nosotros--------------------------------------------*/
.nosotros {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: center;
    color: #2F327D;
    margin-left: 280px;
}
.textonosotros {
    text-align: center;
    padding-left: 20px;
}
div ul {
    display: flex;
    align-items: center;
}
.nosotroshtml{
    align-items: center;
    border-radius: 15px;
}
.nosotrosI{
    color: #7F2736;
    margin-top: 5px;
    border-left: 70px;
    font-weight: bold;
}
/*Mira quienes somos*/
.Miraquienessomos{
    text-align: left;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
    color: #7F2736;
    margin-left: 80px;
}
.Miraquienessomos div{
    font-family: Montserrat;
    font-size: 44px;
    font-weight: 600;
    line-height: 79px;
    letter-spacing: 0em;
}
.Miraquienessomostexto{
    text-align: left;
    margin: 20px;
    margin-left: 80px;
}

/*container australiana-----------------------------------*/
.container-img{
    width: 300px;
    height: 200px;
    border-radius: 15px;
    margin: 40px;
}
.container-img-aus{
    width: 700px;
    height: 400px;
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 15px;
}
.container-flex{
    display: flex;
    flex-direction: row;
}
.torneos-container{
    display: felx;
}

/*footer----------------------------------*/
footer{
    background-color: #000B45;
    height: 500px;
}
.footer-container{
    display: flex;
    flex-direction: column;
}
.footer-primero{
    display: flex;
    flex-direction: row;
}
.container-footer{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.mercedesrc{
    color: #F0C53E;
    display: flex;
    margin-left: 20px;
    text-align: center;
}

/*nosotros inf, rugby y hockey*/
.imagenes-nosotros{
    display: flex;
    width: 300px;
    height: 200px;
    margin: 60px;
}
